{
    "username" : "githubname",
    "password" : "xxxxxxxxxx",
    "token": "xxxxxxxxxxxxxx",
    "search_setting" : {
        "data_per_page": 30,
        "lang": "language:javascript"
    },
    "mysql": {
        "host" : "127.0.0.1",
        "user" : "root",
        "password" : "******" ,
        "database" : "mydatabase",
        "default_table" : "mytable"
    }
}